*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{ font-size: 62.5%; }
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2rem;
	padding: .4em .7em;
	background-color: #b8b5ff; 
}

main{ 
	background: linear-gradient(-120deg, #8ab6d6, #80ffdb);
	padding: .4em;
}

h1{
	text-align: center;
	font-family: 'Trebuchet MS', Arial;
	margin-bottom: 0.5em;
	line-height: 1;
}

form{ margin-top: .5em; }
#saveBtn{
	font-size: 1.6rem;
	margin-top: .5em;
	color: #fff;
	background-color: #5e8091;
	padding: .5em 1em;
	border: none;
	border-radius: 4px;
	font-weight: bolder;
	cursor: pointer;
}

.highscores{
	margin: .7em 0;
	padding: .5em 0;
}

.level-and-scores{
	display: flex;
	grid-gap: 5px;
	align-items: center;
}

.level-and-scores div:first-child{ min-width: 100px; }
textarea{
	display: block;
	width: 90%;
	color: #151515;
	background: #fff;
	border: 1px solid silver;
	border-radius: 3px;
	padding: .3em;
	min-height: 150px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.5;
	letter-spacing: 1px;
	resize: none;
}

h4{ color: gray; }
small{
	display: block;
	font-style: italic;
}

input[type="number"]{
	font-size: 1.8rem;
	max-width: 100%;
	padding: .7em 0;
	font-family: monospace;
}

input[type="text"]{
	width: 100%;
	font-size: 1.5rem;
}

#guessBtn{
	margin-top: .5em;
	font-size: 2rem;
	background-color: #0061a8;
	padding: .6em 2em;
	border: none;
	color: white;
	border-radius: 4px;
	font-weight: bolder;
	cursor: pointer;
}

.output{
	color: grey; 
	font-style: italic;
}


/* MEDIA QUERIES
========================================================== */
@media screen and (min-width: 400px){
	textarea{ max-width: 75%; }
	input[type="text"]{ width: 150px; }
}

@media screen and (min-width: 550px){
	textarea{ 
		max-width: 100%;
		border: none;
		box-shadow: 1px 1px 5px silver;
		padding: .5em;
	}

	main{
		border-radius: 4px;
		padding: .3em;
		display: flex;
		align-items: center;
	}
}

@media screen and (min-width: 750px){
	main{
		width: 80%;
		margin: auto;
		box-shadow: 2px 2px 8px silver;
		grid-gap: 10px;
	}

	section{ margin: auto; }
	#guessBtn:hover{ background-color: #2b2e4a; }
	#saveBtn:hover{ background-color: #3c415c; }
}

@media screen and (min-width: 1000px){
	main{ width: 60%; }
}
